.navbar {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbar-left ul li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .navbar-profile {
    display: flex;
}